.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #9f9f9f;
  flex-wrap: wrap;

  @media (max-width: 950px) {
    border: 1px solid #9f9f9f;
    border-radius: 5px;
    overflow: hidden;
    padding: 10px;
    gap: 20px;
  }
}

.name {
  display: flex;
  align-items: center;
  gap: 34px;
}

.quantityInp {
  width: 32px;
  height: 32px;
  border: 2px solid #9f9f9f;
  border-radius: 5px;
  text-align: center;
  color: #000;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    appearance: none;
  }
}

.subtotal {
  color: #000;
}
