.wrapper {
  background-color: #f9f1e7;
  padding: 15px 75px 80px;

  @media (max-width: 550px) {
      padding: 5px 35px 40px;
      
  }
}

.title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 61px;
  text-align: center;
}

.list {
  display: grid;
  gap: 31px;

  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.btn {
  text-align: center;
  width: 100%;
  margin-top: 42px;
  padding: 14px 59px;
  border: 1px solid #000;
  border-radius: 15px;
  font-size: 20px;
  transition: all 0.2s ease-in;

  &:hover {
    background-color: #000;
    color: #fff;
  }
}

.subtotal {
  color: #9f9f9f;
}

.total {
  font-size: 20px;
  color: #b88e2f;
}
